
/* Below is a css reset stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Below here is css related to website components other than Bootsrap */
#head{
  position: relative;
}
p{
  display: block;
}
section, footer{
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.center{
  text-align: center;
}
.col-mg{
  margin-left: auto;
  margin-right: auto;
}
.profilep img{
  border-radius: 50%;
  width: 64px;
  height: 64px;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3.2rem;
}
.headtitle::before{
    content: "";
    display: block;
    width: 0.1rem;
    height: 4rem;
    background-color: gray;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 1.6rem;
    margin-left: auto;
}
#head h1{
font-size: 4.8rem;
line-height: 1.3;
letter-spacing: 0.1rem;
text-transform: uppercase;
color: #F95959;
}
#head h1 span{
    display: block;
    color: white;
    font-size: 1.8rem;
    margin-top: 1.6rem;
}
.mg-lg{
  margin-top: 6.4rem;
}
.mg-sm{
  margin-top: 3.2rem;
}
header p{
  font-size: 1.5rem;
  letter-spacing: 0.05rem;;
  color: #F95959;
  font-style: italic;
  line-height: 1.3;
}
.btn{
font-size: 1rem;
border-radius: 2.4rem;
height: 2rem;
line-height: 1.2rem;
background-color: #F95959;
color: white !important;
padding-right: 2rem;
padding-left: 2rem;
}
.links li{
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 1rem;
}
.links a{
  color: rgba(255,255,255,0.6) !important;
  text-decoration: none;
}
.links .lx ::after{
  margin-left: 1rem;
  font-size: 1.1rem;
  color: #F95959;
  content: "X"
}
ul{
  margin-bottom: 3rem;
}
.head-bg{
background-image: url(https://assets.karlfernandes.com/2020/img/header-bg.jpg);
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
background-position: center;
background-repeat: no-repeat;
}
.bg-color{
  background-color: lightpink;
}
.summary-col{
  display: flex; /* instead of using row, flex uses up unused space */
  flex-wrap: wrap;
}
h2{
  font-size: 3rem;
  line-height: 3.6rem;
}
#summary p{
  margin-bottom: 3rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: ff-tisa-web-pro, Georgia, serif;
}
.side-col-mg{
  margin-top: 0;
}
h4{
  color: cyan;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.side-ul-mg{
  margin-top: 2.4rem;
  text-decoration: none;
  line-height: 1.9;
  font-size: 1rem;
  list-style-type: none;
  font-weight: bold;
}

#explore-head-section, #explore-section{
  background:#C9D4E2;
  color:#24231A;
}

#explore-head-section h1{
  padding-top: 128px;
  padding-bottom: 20px;
  font-size: 48px;
  color: #24231A;
  font-family: soleil, sans-serif;
  width: 60%;
  min-width: 400px;
}

/*
#explore-head-section p{
  width: 50%;
}*/


#main-footer{
  background:#FFF;
  font-size: 20px;
}

#main-footer .profilep img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    margin-top: 10rem;
    margin-bottom: 0.7rem;
}

#main-footer h1{
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  text-align: center;
  padding-bottom: 60px;
}

#main-footer .footer-1{
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  padding-bottom: 30px;
}

#main-footer .footer-2{
  font-size: 16px;
  line-height: 25.6px;
  text-align: center;
  padding-bottom: 100px;
}

.extra{
  margin-top: 50px;
  background: #AAA;
}
